# --Segmenting and clustering neighborhoods in Toronto,Canada--

## Section1:
### In this section using pandas, or the BeautifulSoup package, or any other way you are comfortable with to transform the data in the table on the Wikipedia page into the above pandas dataframe.

In [229]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [230]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)
soup = BeautifulSoup(html,'lxml')
table = soup.find('table')
table_rows = table.find_all('tr')

In [231]:
import re

list_rows = []
for row in table_rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = re.sub(clean,'',str_cells)
    list_rows.append(clean2)
df = pd.DataFrame(list_rows)
df1 = df[0].str.split('\n,', expand=True)
df1.head()

      0              1                     2
0    []           None                  None
1  [M1A   Not assigned                   \n]
2  [M2A   Not assigned                   \n]
3  [M3A     North York          Parkwoods\n]
4  [M4A     North York   Victoria Village\n]

In [294]:
df1[0] = df1[0].str.strip('[]')
df1[2] = df1[2].str.strip('\n]')
df2 = df1.dropna(axis = 0 , how = 'any')
df3 = df2.drop_duplicates()
headers = ['Postal Code','Borough','Neighborhood']
df3.columns = headers
df3 = df3[~df3.Borough.str.contains("Not assigned") == True]
df3['Neighborhood']=df3['Neighborhood'].apply(lambda x: x.replace('/', ','))
df3.head(10)

,Postal Code,Borough,Neighborhood
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
5,M5A,Downtown Toronto,"Regent Park , Harbourfront"
6,M6A,North York,"Lawrence Manor , Lawrence Heights"
7,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"
9,M9A,Etobicoke,Islington Avenue
10,M1B,Scarborough,"Malvern , Rouge"
12,M3B,North York,Don Mills
13,M4B,East York,"Parkview Hill , Woodbine Gardens"
14,M5B,Downtown Toronto,"Garden District, Ryerson"

###### Shape of the data frame

In [295]:
print(df3.shape)
df3.describe()

(103, 3)

       Postal Code      Borough Neighborhood
count          103          103          103
unique         103           10           98
top            M8X   North York    Downsview
freq             1           24            4

# Section 2:
### Using  the Geocoder package or the csv file to create the following dataframe with latitude and longitude values

In [296]:
df4 = pd.read_csv('https://cocl.us/Geospatial_data')
df4.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [299]:
df5 = df3.merge(df4 , on = 'Postal Code' , how = 'left')
df5.head(10)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill , Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937